h1{
    font-size: 20px;
  }
  .banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background-color:pink;
    color:black;
    border-radius: 10px;
    height: 250px;
    
  
  }
  .banner-discription{
    font-weight: normal;
    width: 500px;
    margin-top: 0;
    padding: 0;
  }
  .banner-button{
    background-color:rgb(192, 27, 143);
    color: white;
    border: none;
    border-radius: 15%;
    padding: 10px;

  }
  .banner-price{
    color: rgb(192, 27, 143);

  }
  .banner-image{
    width: 150px;
  }
  